body{
	background-color: skyblue;

}



h1{
	text-align: center;
	text-transform: capitalize;
	border: 2px solid teal;
	color: dodgerblue;
	background-color: bisque;
	color: red;
	font-family: serif;


}